/************Bootstrap Media queries************/
      /***********Large Device****************/
@media(min-width: 1200px){
    /*Okay*/
}
/***********Medium Device****************/
@media (min-width: 992px) and (max-width:1199px) {
    .navbar-nav > li > a{
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing:0;
    font-weight: 900;
    color: red !important;
}
    a.navbar-brand{
        padding-left:3px !important;
        font-size: 25px !important;
        font-weight: 900;
        color: red !important;
        
    }
}
/***********Small Devices************/
@media (min-width: 768px) and (max-width:991px) {
    .navbar{
        background: rgba(0,0,0,0.8);
        padding: 0;
    }
    .navbar-nav{
        float: left;
    }
    .navbar-nav > li > a{
        text-align: center;
    }

    
}
/************Extra small devices*********/
@media (max-width:767px) {
     .navbar{
        background: rgba(0,0,0,0.8);
        padding: 0;
    }
    .navbar-nav{
        float: left;
    }
    .navbar-nav > li > a{
        text-align: center;
    }
    #home-heading h3{
        font-size: 27px;
    }
    .btn-general{
        padding: 6px 22px 6px 22px;
        font-size: 14px;
    }
    #about-bg-diagonal{
    width: 100%;
    height: 422px;
    background-image: url(../img/sl3.jpg);
    border-left:0;
    border-top: 0;
}
#about-content-box{
    width:70%;
    height: 422px;
}
    #about .content-title h3{
    font-size: 21px;
    font-weight: 800;
    text-align: center;
    color: white;
    }
    #about .content-title-underline{
        margin: 0 0 19px 48px;
    }
    #about-paragraph p {
    margin-bottom: 17px;
    text-align: center;
    font-weight: 700;
    width: 106%;
    color: white;
}
    #footer-copyrights p {
    margin: -42px 0 16px 37px;
    padding-top: -12px;
    color: crimson;
    font-weight: 700;
    font-size: 14px;
}
    
}

/************Extra small devices I*********/
@media (max-width:480px) {
   
}
/************Extra small devices II*********/
@media (max-width:385px) {
   
}
